{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>商品详细页面</title>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static "css/shop_list.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/shop_goods.css" %}" type="text/css" />

    <script type="text/javascript" src="{% static "js/shop_goods.js" %}" ></script>
    <!-- 京东商品展示 -->
    <link rel="stylesheet" href="{% static "css/shop_goodPic.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/shop_goodPic_base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib.js" %}"></script>
    <script type="text/javascript" src="{% static "js/163css.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type=text/javascript>
    $(function(){
        $("#add_cart1").bind("click", function(){
            var commodity_nums = +$("#good_nums").val();
            var commodity_id = +$("#commodity_id").val();
            console.log(commodity_id, typeof commodity_nums);
            $.get({
                "url": "/operations/add_flow/"+commodity_id+"/"+commodity_nums,
                "success": function(){
                    window.location = "/operations/flow";
                },
            });
        });
        $(".jqzoom").jqueryzoom({
            xzoom:400,
            yzoom:400,
            offset:10,
            position:"right",
            preload:1,
            lens:1
        });
        $("#spec-list").jdMarquee({
            deriction:"left",
            width:350,
            height:56,
            step:2,
            speed:4,
            delay:10,
            control:true,
            _front:"#spec-right",
            _back:"#spec-left"
        });
        $("#spec-list img").bind("mouseover",function(){
            var src=$(this).attr("src");
            $("#spec-n1 img").eq(0).attr({
                src:src.replace("\/n5\/","\/n1\/"),
                jqimg:src.replace("\/n5\/","\/n0\/")
            });
            $(this).css({
                "border":"2px solid #ff6600",
                "padding":"1px"
            });
        }).bind("mouseout",function(){
            $(this).css({
                "border":"1px solid #ccc",
                "padding":"2px"
            });
        });
    });

    </script>
{% endblock %}

{% block location %}
    <div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="{% url "commodity:index" %}">首页</a>&nbsp;›&nbsp;
			<a href="">商品分类</a>&nbsp;›&nbsp;
			<a href="">男装女装</a>&nbsp;›&nbsp;
			<a href="">男装</a>
		</span>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block content %}
    <div class="shop_goods_bd clear">
		<!-- 商品展示 -->
		<div class="shop_goods_show">
			<div class="shop_goods_show_left">
				<div id="preview">
					<div class=jqzoom id="spec-n1" onClick="window.open('/')">
                        <IMG height="350" src="{{ commodity.image.url }}" jqimg="{{ commodity.img.url }}" width="350">
                    </div>
                    <div id="spec-n5">
                        <div class=control id="spec-left">
                            <img src="{% static "images/left.gif" %}" />
                        </div>
                        <div id="spec-list">
                            <ul class="list-h">
                                {% for commodityfile in commodityfiles %}
                                <li><img src="{{ commodityfile.commodity_file.url }}"> </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class=control id="spec-right">
                            <img src="{% static "images/right.gif" %}" />
                        </div>

                    </div>
                </div>
                <!-- 京东商品展示 End -->
			</div>
			<div class="shop_goods_show_right">
				<ul>
					<li>
						<strong style="font-size:14px; font-weight:bold;">{{ commodity.name }}</strong>
					</li>
					<li>
						<label>价格：</label>
						<span><strong>{{ commodity.actual_price }}</strong>元</span>
					</li>
					<li>
						<label>运费：</label>
						<span>{{ commodity.freight }}</span>
					</li>
					<li>
						<label>累计售出：</label>
						<span>{{ commodity.sale_nums }}</span>
					</li>
					<li>
						<label>评价：</label>
						<span>{{ commodity.comments_nums }}条评论</span>
					</li>
					<li class="goods_num">
						<label>购买数量：</label>
						<span><a class="good_num_jian" id="good_num_jian" href="javascript:void(0);"></a>
                            <input type="text" value="1" id="good_nums" class="good_nums" />
                            <a href="javascript:void(0);" id="good_num_jia" class="good_num_jia"></a>(当前库存{{ commodity.all_nums }}件)</span>
					</li>
					<li style="padding:20px 0;">
						<label>&nbsp;</label>
                        <input type="hidden" id="commodity_id" name="id" value="{{ commodity.id }}">
						<span ><a id="add_cart1" href="javascript:void(0);" class="goods_sub goods_sub_gou" >加入购物车</a></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- 商品展示 End -->

		<div class="clear mt15"></div>
		<!-- Goods Left -->
		<div class="shop_bd_list_left clearfix">
			<!-- 左边商品分类 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">商品分类</div>
				<div class="contents clearfix">
					<dl class="shop_bd_list_type_links clearfix">
						<dt><strong>女装</strong></dt>
						<dd>
							<span><a href="">风衣</a></span>
							<span><a href="">长袖连衣裙</a></span>
							<span><a href="">毛呢连衣裙</a></span>
							<span><a href="">半身裙</a></span>
							<span><a href="">小脚裤</a></span>
							<span><a href="">加绒打底裤</a></span>
							<span><a href="">牛仔裤</a></span>
							<span><a href="">打底衫</a></span>
							<span><a href="">情侣装</a></span>
							<span><a href="">棉衣</a></span>
							<span><a href="">毛呢大衣</a></span>
							<span><a href="">毛呢短裤</a></span>
						</dd>
					</dl>
				</div>
			</div>
			<!-- 左边商品分类 End -->

			<!-- 热卖推荐商品 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">热卖推荐商品</div>
				<div class="contents clearfix">
					<ul class="clearfix">
                        {% for commodity_sales_rank in commoditys_sales_rank %}
                        <li class="clearfix">
							<div class="goods_name">
                                <a href="">{{ commodity_sales_rank.name }}|{{ commodity_sales_rank.id }}|原价{{ commodity_sales_rank.original_price }}元</a>
                            </div>
							<div class="goods_pic"><span class="goods_price">¥ {{ commodity_sales_rank.actual_price }} </span><a href=""><img src="{{ commodity_sales_rank.image.url }}" /></a></div>
							<div class="goods_xiaoliang">
								<span class="goods_xiaoliang_link"><a href="">去看看</a></span>
								<span class="goods_xiaoliang_nums">已销售<strong>{{ commodity_sales_rank.sale_nums }}</strong>笔</span>
							</div>
						</li>
                        {% endfor %}
					</ul>
				</div>
			</div>
			<!-- 热卖推荐商品 -->
			<div class="clear"></div>

			<!-- 浏览过的商品 -->
			<div class="shop_bd_list_bk clearfix">
				<div class="title">浏览过的商品</div>
				<div class="contents clearfix">
					<ul class="clearfix">

						{% for commodity_views_rank in commoditys_views_rank %}
                        <li class="clearfix">
							<div class="goods_name">
                                <a href="">{{ commodity_views_rank.name }}|{{ commodity_views_rank.id }}|原价{{ commodity_views_rank.original_price }}元</a>
                            </div>
							<div class="goods_pic"><span class="goods_price">¥ {{ commodity_views_rank.actual_price }} </span><a href=""><img src="{{ commodity_views_rank.image.url }}" /></a></div>
							<div class="goods_xiaoliang">
								<span class="goods_xiaoliang_link"><a href="">去看看</a></span>
								<span class="goods_xiaoliang_nums">已销售<strong>{{ commodity_views_rank.sale_nums }}</strong>笔</span>
							</div>
						</li>
                        {% endfor %}

					</ul>
				</div>
			</div>
			<!-- 浏览过的商品 -->

		</div>
		<!-- Goods Left End -->

		<!-- 商品详情 -->
		<script type="text/javascript" src="{% static "js/shop_goods_tab.js" %}"></script>
		<div class="shop_goods_bd_xiangqing clearfix">
			<div class="shop_goods_bd_xiangqing_tab">
				<ul>
					<li id="xiangqing_tab_1" onmouseover="shop_goods_easytabs('1', '1');" onfocus="shop_goods_easytabs('1', '1');" onclick="return false;"><a href=""><span>商品详情</span></a></li>
					<li id="xiangqing_tab_2" onmouseover="shop_goods_easytabs('1', '2');" onfocus="shop_goods_easytabs('1', '2');" onclick="return false;"><a href=""><span>商品评论</span></a></li>
					<li id="xiangqing_tab_3" onmouseover="shop_goods_easytabs('1', '3');" onfocus="shop_goods_easytabs('1', '3');" onclick="return false;"><a href=""><span>商品咨询</span></a></li>
				</ul>
			</div>
			<div class="shop_goods_bd_xiangqing_content clearfix">
				<div id="xiangqing_content_1" class="xiangqing_contents clearfix">
					<p>商品详情----11111</p>
				</div>
				<div id="xiangqing_content_2" class="xiangqing_contents clearfix">
					<p>商品评论----22222</p>
				</div>

				<div id="xiangqing_content_3" class="xiangqing_contents clearfix">
					<p>商品自诩---3333</p>
				</div>
			</div>
		</div>
		<!-- 商品详情 End -->
	</div>

{% endblock %}
